<div class="page-content" ng-controller="MailBox_ctrl">
    <div class="row">
        <div class="col-md-12">
            <div class="row top-row-strip">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> Mail Box</li>
                        <li class="breadcrumb-item active">Compose mail</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 ">
            <div class="card p-3">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">
                                To :
                            </label>
                            <div class="col-md-8">
                                Oriens
                            </div>
                        </div>
                        <div class="example-wrap">
                            <div class="example">
                                <form name="Form">
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label">
                                            Subject :
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="lblsub" placeholder="Subject"
                                                   required />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label">
                                            Message :
                                        </label>
                                        <div class="col-md-8">
                                            <textarea class="form-control" ng-model="txtmesage" placeholder="Enter your message"
                                                      required></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label">
                                        </label>
                                        <div class="col-md-8">
                                            <button type="submit" class="btn btn-primary" ng-click="ComposeMail()">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
