<div class="container-fluid" ng-controller="ChangePassword">
    <div class="row" ng-init="getmempwd()">
        <div class="col-md-12">
            <div class="row top-row-strip">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> Profile</li>
                        <li class="breadcrumb-item active">Change Password</li>
                    </ol>
                </div>
            </div>

            <div class="row form-group ml-4">
                <ul class="nav nav-tabs">
                    <li ng-class="ppwd==true ? 'active':''"><a class="btn btn-primary btn-sm mr-3" href="" ng-click="TabActive(true,false)">Profile Password</a></li>
                    <li ng-class="tpwd==true ? 'active':''"><a class="btn btn-primary btn-sm" href="" ng-click="TabActive(false,true)">Transaction Password</a></li>
                </ul>
            </div>

            <div class="page-content portlet light card p-3" align="right" ng-show="ppwd">

                <form class="filter" id="Form_ChangePassword" name="Form_ChangePassword">
                    <div style="height:50px;">

                    </div>
                    <div class="row" ng-class="{ 'has-error' : Form_ChangePassword.txtoldpwd.$invalid && !Form_ChangePassword.txtexistingpwd.$pristine }">
                        <div class="col-md-4 text-left text-md-right control-label">
                            <label>Existing Password <span>*</span></label>
                        </div>
                        <div class="col-md-4 form-group">
                            <input type="password" name="txtoldpwd" maxlength="15" ng-model="txtoldpwd" class="form-control" ng-required="true" ng-blur="chekoldpwd('pwd')"
                                   ng-focus="opwd.focus=true">
                            <div ng-show="Form_ChangePassword.txtoldpwd.$invalid && !Form_ChangePassword.txtoldpwd.$pristine && opwd.focus" class="validation_info">
                                <ul class="ulvalid">
                                    <li class="invalid" ng-show="Form_ChangePassword.txtoldpwd.$invalid">Password is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-class="{ 'has-error' : (Form_ChangePassword.txtnewpassword.$invalid ||oldNewPassword) && !Form_ChangePassword.txtnewpassword.$pristine }">
                        <div class="col-md-4 text-left text-md-right control-label">
                            <label>New Password <span>*</span> </label>
                        </div>
                        <div class="col-md-4 form-group">
                            <input type="password" name="txtnewpwd" maxlength="15" ng-model="txtnewpwd" class="form-control" ng-required="true"
                                   ng-focus="npwd.focus=true" ng-blur="npwd.focus=false">
                            <div ng-show="(Form_ChangePassword.txtnewpwd.$invalid ||oldNewPassword) && !Form_ChangePassword.txtnewpwd.$pristine && npwd.focus" class="validation_info">
                                <ul class="ulvalid">
                                    <li class="invalid" ng-show="Form_ChangePassword.txtnewpwd.$invalid">New Password is required.</li>
                                    <li class="invalid" ng-show="oldNewPassword">Old Password and New Password must be different</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-class="{ 'has-error' : (Form_ChangePassword.txtcnfpassword.$invalid||oldNewPassword||ConfirmPassword) && !Form_ChangePassword.txtcnfpassword.$pristine }">
                        <div class="col-md-4 text-left text-md-right control-label">
                            <label>Confirm New Password <span>*</span></label>
                        </div>
                        <div class="col-md-4 form-group">
                            <input type="password" name="txtcnfpassword" maxlength="15" ng-model="txtconpwd" class="form-control" ng-required="true"
                                   ng-focus="ncpwd.focus=true" ng-blur="chekconpwd()" />
                            <div ng-show="(Form_ChangePassword.txtconpwd.$invalid||ConfirmPassword) && !Form_ChangePassword.txtconpwd.$pristine && ncpwd.focus" class="validation_info">
                                <ul class="ulvalid">
                                    <li class="invalid" ng-show="Form_ChangePassword.txtconpwd.$invalid">Confirm Password is required.</li>
                                    <li class="invalid" ng-show="ConfirmPassword">Confirm Password don't match..</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-5">
                            <button type="submit" id="btnSubmit" ng-click="ChangePassword('pwd')" ng-disabled="(Form_ChangePassword.$invalid||oldNewPassword||ConfirmPassword)" class="btn bg-theam text-white ml-2">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="page-content portlet light card p-3" align="right" ng-show="tpwd">

                <form class="filter" id="Form_ChangeTPassword" name="Form_ChangeTPassword">
                    <div style="height:50px;">

                    </div>
                    <div class="row" ng-class="{ 'has-error' : Form_ChangePassword.txtoldpwd.$invalid && !Form_ChangePassword.txtexistingpwd.$pristine }">
                        <div class="col-md-4 text-left text-md-right control-label">
                            <label>Existing Transaction Password <span>*</span></label>
                        </div>
                        <div class="col-md-4 form-group">
                            <input type="password" name="txtoldpwd" maxlength="15" ng-model="txtoldpwd" class="form-control" ng-required="true" ng-blur="chekoldpwd('tpwd')"
                                   ng-focus="opwd.focus=true">
                            <div ng-show="Form_ChangePassword.txtoldpwd.$invalid && !Form_ChangePassword.txtoldpwd.$pristine && opwd.focus" class="validation_info">
                                <ul class="ulvalid">
                                    <li class="invalid" ng-show="Form_ChangePassword.txtoldpwd.$invalid">Password is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-class="{ 'has-error' : (Form_ChangePassword.txtnewpassword.$invalid ||oldNewPassword) && !Form_ChangePassword.txtnewpassword.$pristine }">
                        <div class="col-md-4 text-left text-md-right control-label">
                            <label>New Transaction Password <span>*</span> </label>
                        </div>
                        <div class="col-md-4 form-group">
                            <input type="password" name="txtnewpwd" maxlength="15" ng-model="txtnewpwd" class="form-control" ng-required="true"
                                   ng-focus="npwd.focus=true" ng-blur="npwd.focus=false">
                            <div ng-show="(Form_ChangePassword.txtnewpwd.$invalid ||oldNewPassword) && !Form_ChangePassword.txtnewpwd.$pristine && npwd.focus" class="validation_info">
                                <ul class="ulvalid">
                                    <li class="invalid" ng-show="Form_ChangePassword.txtnewpwd.$invalid">New Password is required.</li>
                                    <li class="invalid" ng-show="oldNewPassword">Old Password and New Password must be different</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-class="{ 'has-error' : (Form_ChangePassword.txtcnfpassword.$invalid||oldNewPassword||ConfirmPassword) && !Form_ChangePassword.txtcnfpassword.$pristine }">
                        <div class="col-md-4 text-left text-md-right control-label">
                            <label>Confirm Transaction New Password <span>*</span></label>
                        </div>
                        <div class="col-md-4 form-group">
                            <input type="password" name="txtcnfpassword" maxlength="15" ng-model="txtconpwd" class="form-control" ng-required="true"
                                   ng-focus="ncpwd.focus=true" ng-blur="chekconpwd()" />
                            <div ng-show="(Form_ChangePassword.txtconpwd.$invalid||ConfirmPassword) && !Form_ChangePassword.txtconpwd.$pristine && ncpwd.focus" class="validation_info">
                                <ul class="ulvalid">
                                    <li class="invalid" ng-show="Form_ChangePassword.txtconpwd.$invalid">Confirm Password is required.</li>
                                    <li class="invalid" ng-show="ConfirmPassword">Confirm Password don't match..</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-5">
                            <button type="submit" id="btntSubmit" ng-click="ChangePassword('tpwd')" ng-disabled="(Form_ChangeTPassword.$invalid||oldNewtPassword||ConfirmtPassword)" class="btn bg-theam text-white ml-2">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .bg-theam {
        background-color: #3d276f !important;
    }
</style>
