<div class="container-fluid" ng-controller="Events_ctrl" ng-init="GetTicketTrnsRpt()">
    <div class="row">
        <div class="col-md-12">
            <div class="row top-row-strip">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> Profile</li>
                        <li class="breadcrumb-item active">TICKET TRANSFER REPORT</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <select ng-model="ddltype" class="form-control" style="width: 15%; float: right"
                    ng-change="GetTicketTrnsRpt(ddltype)">
                <option value="">All</option>
                <option value="Member">Member</option>
                <option value="Guest">Guest</option>
            </select>
            <div class="col-md-3 col-md-offset-9" style="float: right">
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>

        </div>
        <br />
        <br />
    </div>
    <label ng-model="lblmobile" style="display: none">
    </label>
    <label ng-model="lblname" style="display: none">
    </label>
    <label ng-model="lblemail" style="display: none">
    </label>
    
    <div>
        
        <div class="row">

            <div class="col-md-12">
                <div class=" table-responsive">
                    <table class="table table-bordered table-striped f-14">
                        <thead>
                            <tr class="table-header">
                                <th>
                                    Id No
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    State
                                </th>
                                <th>
                                    Ticket No
                                </th>
                                <th>
                                    Program Name
                                </th>
                                <th>
                                    Transfer Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="x in TrnsTicks | filter:search | itemsPerPage:ItemsperPage track by $index">
                                <td>
                                    {{x.idno}}
                                </td>
                                <td>
                                    {{x.name}}
                                </td>
                                <td>
                                    {{x.State}}
                                </td>
                                <td>
                                    {{x.TicketNo}}
                                </td>
                                <td>
                                    {{x.PrgmName}}
                                </td>
                                <td>
                                    {{x.transferdate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
